In [3]:
import pandas as pd
import random

## Задание 44
В ячейке ниже представлен код генерирующий DataFrame, которая состоит всего из 1 столбца. Ваша задача перевести его в <span style="color:red">one hot</span> вид. Сможете ли вы это сделать без <span style="color:red">get_dummies</span>?
***

In [79]:
lst = ['robot'] * 10
lst += ['human'] * 10
random.shuffle(lst)
data = pd.DataFrame({'whoAmI': lst})
data.head(n=10)

  whoAmI
0  human
1  human
2  robot
3  robot
4  robot
5  robot
6  human
7  human
8  robot
9  human

In [104]:
data.loc[data['whoAmI'] == 'human', 'human'] = True
data.loc[data['whoAmI'] == 'robot', 'robot'] = True
data[['human', 'robot']].notnull()

    human  robot
0    True  False
1    True  False
2   False   True
3   False   True
4   False   True
5   False   True
6    True  False
7    True  False
8   False   True
9    True  False
10  False   True
11   True  False
12   True  False
13   True  False
14   True  False
15  False   True
16  False   True
17  False   True
18   True  False
19  False   True